<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../src/css/home.css" rel="stylesheet"/>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="../src/js/home-script.js"></script>
  </head>
  <body style="background-color: rgb(250,250,250); padding-top: 13%;">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" id="navbase">
      <a class="navbar-brand" href="#" id="logo">sonnet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:3001/about">About <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3001/config">Settings</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" target="">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="procura">Search</button>
        </form>
      </div>
    </nav>
    <div class="container-fluid" style="padding-left: 5%; padding-right: 25%">
      <div class="row">
        <div class="col-sm"  style="max-width: 13%">
          <div id="perfilDois" style="height: 100px; width: 100px;">
            <div class="blocos" id="photoPerfil" style='background-image: url({{imagem}})'></div>
            <p style="text-align: center; margin-top: 7%; font-size: 120%;"><b>{{nome}}</b><div style="height: 1px; width:100px; background-color: lightgrey; margin-top: -5%"></div><p style="font-size: 90%; text-align: center; margin-top: 5%">Online<br><a href="http://pudim.com.br">Editar Perfil</a></p>
          </div>
        </div>
        <div class="col-sm" style="margin-right: -75%">
          <svg id="balaoCima" viewbox="0 0 5 10" style="margin-top: 10%">
            <path d="M7 0 V3 C7 7 3 8 0.5 5.4 Q0 4.4 0.8 4.3 C 0.8 4.2 5 5 7 -5" />
          </svg>
          <svg  id="balaoBaixo" viewbox="0 0 5 10" style="margin-top: 10%">
            <path d="M7 0 V3 C7 7 3 8 0.5 5.4 Q0 4.4 0.8 4.3 C 0.8 4.2 5 5 7 -5" />
          </svg>
        </div>
        <div class="col-sm">
          <div class="container blocos" style="width: 100%; height: 150%;">
            <div class="row">
                <div class="col-sm" style="float:left">
                  <div style="width:20%; height: 70%; text-align: center; padding-top:0.5%; margin-top:2%; background-color: rgb(200, 190, 200);">Wall </div>
                </div>
            <div class="row">
              <div class="col-sm status" style="padding: 5%; padding-left: 10%; padding-right: 10%">
                <p class="balao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus elit id tempor varius. Donec tristique, nulla quis pulvinar mollis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div style="width: 10%; margin-top: 20%; margin-left: 13%;">
    <p>Your Network</p>
      <div style= "width: 10%;
        margin-top:0%;
        height: 0px;
        border-bottom: 1px solid darkgray;
        position: absolute;"></div>
      </div>
    </div>
    <div class="container" style="margin-top: 3%;">
      <div class='col-lg-6' id="friends"></div>
    </div>
    <footer style="background-color: purple; height:200px; width:100%; margin-top: 5%">
      <div class="container-fluid">
                    <span class="text-muted">@all rights reserved</span>

      </div>

    </footer>
          <!-- d="M7 0 V8 L2 5.8 Q0 5 0.8 4.5 C 0.8 4.2 5 5 7 -5 "
          d="M7 0 V3 C7 7 3 8 0.5 5.8 Q0 5 0.8 4.5 C 0.8 4.2 5 5 7 -5 "
          d="M7 0 V3 C7 7 3 8 0.5 5.4 Q0 4.4 0.8 4.3 C 0.8 4.2 5 5 7 -5 " -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
