<DOCTYPE! html>
<html>
    <head>
        <title>Sign up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!--tag de responsividade do bootstrap-->
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script><!--importa jquery-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> <!--importa css do bootstrap, para que ele possa ser modificado-->
        <link href="../index.css" rel="stylesheet"/> <!--importa o css próprio, que adiciona em cima do css do bootstrap-->
        <script>
             $(document).ready(function() {
               var url = location.protocol + '//' + location.hostname + ':' + location.port
                $('#botaoForm').hover(function(){
                    $('#botaoForm').fadeIn("slow");
                    $('#emoji').fadeIn(3000);
                    $('[data-toggle="popover"]').popover();
                });
            });

        </script>

    </head>
    <body>
        <div class="container" id="loginDiv" style="border-radius: 0% !important">
            <form id="formLogin" method="get" action="home" target="">
  <div class="form-group">
    <p>Criar conta: </p>
    <label for="exampleInputEmail1">E-mail</label>
    <input type="email" class="form-control" id="exampleInputText" aria-describedby="emailHelp" placeholder="" style="box-shadow: 1px 1px 3px #888888 ;" required>
    <label for="exampleInputEmail1">Usuário</label>
    <input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" placeholder="" style="box-shadow: 1px 1px 3px #888888 ;" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" style="box-shadow: 1px 1px 3px #888888 ;" required>
  </div>
  <button type="submit" id="botaoForm" class="btn btn-lg">Login</button>
</form>
        </div>


        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   <!--importa bootstrap-->
    </body>
</html>
