<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="../js/jquery-ui-1.12.1/jquery-ui.min.css" />
    <script src="../js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../css/home.css" rel="stylesheet"/>
    <script src="../js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="../js/user-script.js"></script>
    <script>
      $(document).ready(function () {
        var url = location.protocol + '//' + location.hostname + ':' + location.port
        var user = decodeURI('{{usuario}}')
        user = JSON.parse(user)

        if (user.adicionar) {
          var regular = new RegExp('&#x3D;', 'g');
          user.adicionar = String(user.adicionar).replace(regular, '=');
          var regular = new RegExp('/\\"', 'g');
          user.adicionar = String(user.adicionar).replace(regular, '\'');
          var regular = new RegExp('\\"', 'g');
          user.adicionar = String(user.adicionar).replace(regular, '\'');
          $('#adiconarForm').append(user.adicionar)
          $('#postFriend').attr('action', url + '/users/user:' + user.nome)
        }
        $('#botaoImagem').click(function (e) {
          $('#botaoImagem').prop('disabled', true)
        })
        $('#home').attr('href', url + '/user:' + user.nome)
        $('#photoPerfil').css('background-image', ' url(../images/user_images/' + user.imagem + ')')

        window.addEventListener('scroll', function () {
          if ($(document).scrollTop() > 50) {
            $('#navbarSupportedContent').css('padding-bottom', '0%')
            $('#navbarSupportedContent').css('padding-top', '0%')
            $('#logo').css('font-size', '100%')
            $('#logo').css('color', 'rgb(100, 150, 200)')
            $('#navbase').css('background-color', 'rgb(250, 250, 250)')
          } else {
            $('#navbarSupportedContent').css('padding-bottom', '2%')
            $('#navbarSupportedContent').css('padding-top', '2%')
            $('#logo').css('font-size', '300%')
            $('#logo').css('color', 'rgb(150, 200, 250)')
            $('#navbase').css('background-color', 'rgb(228, 199, 255)')
          }
          if ($(document).scrollTop() > 250) {
            if (!$("#perfilUm").length) {
              $('.navbar-nav').append("<div id='perfilUm' class='fade-in' style='height: 20px; width: 20px;'><button type='button' class='btn btn-lg btn-danger' id='photoPerfil2' data-toggle='popover' title='" + user.usuarioLogado.nome + "' data-content='<a href=\"http://pudim.com.br\">Editar perfil</a>' style='background-image: url(&quot../images/user_images/" + user.usuarioLogado.imagem + "&quot); margin-top: 40%; border: none;'></button></div>")
              $(function () {
                var template1 = '<a href="http://pudim.com.br" class="popover-body">editar perfil</a>'
              $('#photoPerfil2').popover({html: true})
            })
            }
          } else {
            if ($( "#perfilDois" ).length) {
              $('#photoPerfil2').popover('dispose')
              $('#perfilUm').remove()
            }
          }
        })
        $('#newPost').attr('action', url + '/posts/')
        document.getElementById('txtarea').focus()
        document.getElementById('txtarea').select()

        $('#nomePerfil').html('<b>' + user.nome + '</b>')
        for (var i = 0; i < user.amigos.length; i++) {
          $('.wrapper').append("<div style='height: 80px; width: 80px; margin-top:0%; margin:4%;'> <a style='color: gray; text-decoration:none;' href='" + url + "/users/user:" + user.amigos[i].nome + "'><button type='button' class='btn btn-lg btn-danger'  id='photoPerfil' style='box-shadow: 0px 1px 3px #111111; background-image: url(../images/user_images/" + user.amigos[i].imagem + "); border: none; height: 100%; width: 100%; border-radius: 50%;'></button><p style='text-align: center; margin-top: 10%;'>" + user.amigos[i].nome + "</p></a></div>")
        }
        for (var i = 0; i < user.posts.length; i++) {
          if (i === 0) {
            $('#rowBase').append('<div class="blocos" style="position: absolute; display:block; z-index: 3; border-radius: 50% !important; width: 70px !important; height: 70px !important; margin: 0 auto !important; margin-left: 48% !important;  margin-top: 60px !important; box-shadow: none !important;"></div><div class="blocos" style="position: absolute; display:block; z-index: -1; border-radius: 50% !important; width: 70px !important; height: 70px !important; margin: 0 auto !important; margin-left: 48% !important;  margin-top: 60px !important;"></div><div class="blocos" style="border-radius: 50% !important; width: 30px !important; height: 30px !important; margin: 0 auto !important;  margin-top: 140px !important;"></div><div class="row" style="margin-top: 2%"><div class="col-sm"><div class="container blocos" style="width: 100%; height: 150%; margin-left: 4%;"><div class="col-sm" style="float:left"></div><div class="row balaoFora"><p class="balao">' + user.posts[i] + '</p></div></div></div></div>')
          } else {
            $('#rowBase').append('<div class="blocos" style="position: absolute; display:block; z-index: 3; border-radius: 50% !important; width: 70px !important; height: 70px !important; margin: 0 auto !important; margin-left: 48% !important;  margin-top: 5px !important; box-shadow: none !important;"></div><div class="blocos" style="position: absolute; display:block; z-index: -1; border-radius: 50% !important; width: 70px !important; height: 70px !important; margin: 0 auto !important; margin-left: 48% !important;  margin-top: 5px !important;"></div><div class="blocos" style="border-radius: 50% !important; width: 30px !important; height: 30px !important; margin: 0 auto !important;  margin-top: 100px !important;"></div><div class="row" style="margin-top: 2%"><div class="col-sm"><div class="container blocos" style="width: 100%; height: 150%; margin-left: 4%;"><div class="col-sm" style="float:left"></div><div class="row balaoFora"><p class="balao">' + user.posts[i] + '</p></div></div></div></div>')
          }
        }
      })
    </script>
  </head>
  <body style="background-color: rgb(250,250,250); padding-top: 13%;">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" id="navbase">
      <a class="navbar-brand" href="#" id="logo">sonnet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" id="home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="settings">Settings</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" target="">
          <div class="ui-widget">
          <input class="form-control mr-sm-2" type="search" id="searching" placeholder="Search" aria-label="Search" style="position: relative; display: inline-block;">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="procura">Search</button>
        </div>
        </form>
      </div>
    </nav>
    <div id="rowBase">
    <div class="container-fluid" style="padding-left: 5%; padding-right: 25%">
      <div class="row">
        <div class="col-sm"  id="adiconarForm" style="text-align:center; max-width: 20%">
          <div id="perfilDois" style="margin: auto; height: 100px; width: 100px;">
            <div class="blocos" id="photoPerfil"></div>
            </div>
            <p id="nomePerfil" style="text-align: center; margin-top: 7%; font-size: 120%;"></p>
              <div style="margin: auto; height: 1px; width:100px; background-color: lightgrey; margin-top: -5%"></div>
              <p style="font-size: 90%; text-align: center; margin-top: 5%">Online</p>
        </div>
        <div class="col-sm" style="margin-right: -75%">
          <svg class="balaoCima" viewbox="0 0 5 10" style="margin-top: 10%">
            <path d="M7 0 V3 C7 7 3 8 0.5 5.4 Q0 4.4 0.8 4.3 C 0.8 4.2 5 5 7 -5" />
          </svg>
          <svg  class="balaoBaixo" viewbox="0 0 5 10" style="margin-top: 10%">
            <path d="M7 0 V3 C7 7 3 8 0.5 5.4 Q0 4.4 0.8 4.3 C 0.8 4.2 5 5 7 -5" />
          </svg>
        </div>
        <div class="col-sm">
          <div class="container blocos" style="width: 100%; height: 150%; margin-left: 4%;">
                <div class="col-sm" style="float:left">
                  <div style="width:20%; height: 70%; text-align: center; padding-top:0.5%; margin-top:2%; background-color: rgb(200, 190, 200);">Wall </div>
                </div>
            <div class="row balaoFora" style="width: 90%; height: 80%;">
              <form method="post"  id="newPost" style="width: 100%; height: 100%;">
                <textarea id="txtarea" name="post" style="width: 100%; height: 60%; background-color:rgb(240, 230, 240); border: 2px solid white; border-radius: 5px;" class="balao" selected>Write something</textarea><br>
                <input type="submit" value="Post" id="botaoPost" style="z-index: 7; position: absolute; display: block; width: 100px; height: 50px !important; background-color:rgb(220, 230, 240) !important; margin-top: 1%;">
              </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
    <div style="width: 10%; margin-top: 10%; margin-left: 13%;">
    <p>Your Network</p>
      <div style= "width: 10%;
        margin-top:0%;
        height: 0px;
        border-bottom: 1px solid darkgray;
        position: absolute;"></div>
      </div>
    </div>
    <div class="container" style="margin-top: 3%;">
      <div class='wrapper' style="margin-bottom: 20%;"></div>
    </div>
    <footer style="background-color: rgb(249, 55, 249); height:300px; width:100%; margin-top: 5%">
      <div class="container-fluid" style="padding: 4% !important;">
        <h4 style=" margin: 0 auto; text-align: center;">A SOcial NNETwork/chat app</h4>
                    <p style=" margin: 0 auto; text-align: center; padding-right:8%; padding-left:8%;  margin-top: 1%">Copyright © 2010 by me<br>
All rights reserved. No part of this publication may be reproduced, distributed, or transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of the publisher, except in the case of brief quotations embodied in critical reviews and certain other noncommercial uses permitted by copyright law.</p>

      </div>
    </footer>
          <!-- d="M7 0 V8 L2 5.8 Q0 5 0.8 4.5 C 0.8 4.2 5 5 7 -5 "
          d="M7 0 V3 C7 7 3 8 0.5 5.8 Q0 5 0.8 4.5 C 0.8 4.2 5 5 7 -5 "
          d="M7 0 V3 C7 7 3 8 0.5 5.4 Q0 4.4 0.8 4.3 C 0.8 4.2 5 5 7 -5 " -->
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
